a {
    text-decoration: none;
}
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    width: 1440px;
    height: 2060px;
    box-sizing: border-box;
    }
.header-page-container {
    width: 1440px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    padding-left: 156px; 
}

.logo-Text-blue {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    box-sizing: border-box;   
}

.logo-Text-black {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.main-nav {
    display: flex;
    align-items: center;
    gap: 76px;
}

.nav-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.nav-menu a {
    text-decoration: none;
    color: #2e2f42; 
}

.cont_mail_tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-right: 156px;
    display: flex;
    align-items: center;
}

.cont_mail_tel ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    font-style: normal;
}

.cont_mail_tel a {
    text-decoration: none;
    color: #434455;
}

.main-page-container {
    width: 1440px;
    height: 600px;
    background: #2e2f42;
    box-sizing: border-box;
}


.main-page-text-container {
    padding-top: 188px;
    padding-left: 472px;
    padding-right: 472px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.main-page-batton {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
}

.benefits-page-container {
    width: 1128px;
    height: 104px;
    border: none;
    box-sizing: border-box;
    list-style: none;
    display: flex;
    margin: 0 auto;
}
.team-card-container {
    width: 1440px;
    height: 732px;
    background: #f4f4fd;
}

.Our-Team {|
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-top: 120px;
    box-sizing: border-box;
}

.team-card-list {
    box-sizing: border-box;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-left: 156px;
    padding-right: 156px;
    gap: 24px;
}

.team-card-mark-guerrero {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.name-mark-guerrero {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.position-mark-guerrero {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-card-tom-ford {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.name-tom-ford {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.position-tom-ford {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-card-camila-garcia {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.name-camil-garcia {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.position-camil-garcia {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-card-daniel-wilson {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.name-daniel-wilson {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.position-daniel-wilson {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.footer-page {
    width: 1440px;
    height: 312px;
    background: #2e2f42;
}

.logo-footer-position {
    padding-top: 100px;
    padding-left: 156px;
    box-sizing: border-box;

}
.logo-footer-Text-blue {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.logo-footer-Text-white {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}



.recommendation {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-left: 156px;
    padding-top: 16px;
    padding-right: 1020px;
    box-sizing: border-box;
}